{% extends 'base.html' %}

{% block content %}
<h1>Inventory of Products</h1>
{% if page_obj %}
<table class="table table-striped">
    <thead>
    <tr>
        <td>SKU</td>
        <td>name</td>
        <td>Description</td>
        <td>Stock</td>
    </tr>
    </thead>
    <tbody>
    {% for product in page_obj %}
    <tr>
        <td>{{product.sku}}</td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
        <td>
            <button type="button" class="btn btn-info">
                <a href="{% url 'edit_product' product.id %}">Edit</a>
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-danger">
                <a href="{% url 'delete_product' product.id %}">Delete</a>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products to display. </p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <button class="btn btn-info">
            <a href="?page=1">&laquo; first</a>
        </button>
        <button class="btn btn-info">
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        </button>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <button class="btn btn-info">
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        </button>
        <button class="btn btn-info">
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </button>
        {% endif %}
    </span>
</div>
{% endblock %}